<% if object.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Oops! Something went wrong.</strong> Please check the errors below.
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
