<div class="d-flex flex-column justify-content-center align-items-center vh-100 bg-light">
    <div class= "text-center mb-4">
    <h1 class="display-4 text-primary fw-bold">Welcome to E-commerce</h1>
    </p class="text-muted fs-5">Your gateway to amazing products. Join us today!</p>
    </div>
    <% if user_signed_in? %>
      <div class="d-flex ">
        <%= link_to 'Sign Out', destroy_user_session_path, data:{
           turbo_method: :delete
        },class:"btn btn-primary px-4 py-3 fw-bold rounded-pill shadow" %>
      </div>
    <% else %>
        <div class="d-flex gap-3 flex-row">
            <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-primary px-4 py-3 fw-bold rounded-pill shadow" %>
            <%= link_to 'Log In', new_user_session_path, class:"btn btn-primary px-4 py-3 fw-bold rounded-pill shadow" %>
        </div>
    <% end %>
</div>