<div class="container d-flex justify-content-center">
  <div class="card shadow-lg p-4 rounded" style="width: 400px; background-color: #f8f9fa;">
    <h2 class="text-center mb-4 text-primary">Edit Shipping Details</h2>
    <%= render partial:"form", locals: { shipping_detail: @shipping_detail }%>
  </div>
</div>
